@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row text-right">
    <div class="col-sm-12">
        <h2>!خطا</h2>
    </div>
    <div class="col-sm-12">
        <div class="alert alert-error">
            <h3> مشکلی بوجود آمده لطفا با پشتیبانی تماس بگیرید</h3>
        </div>
    </div>
    <div class="col-sm-12">
        <br />
        <div class="row">
            <div class="col-sm-6 text-left">
                <a onclick="history.go(-1); return false;"><img class="back" src="~/Content/images/back3.png" /></a>
            </div>
        </div>
        <br />
    </div>
</div>
